################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/appsettings.json
/Properties/launchSettings.json
/bin/Debug/netcoreapp3.1
/APIConsumerApp/obj/Debug
/APIConsumerApp/bin/Debug
